:root {
    /** Color Scheme Variables */
    
    /* Main theme colors (found in logo) */
    --light-grey: #F2EAF0;
    --purple-pink: #FC4BD3;
    --yellow: #FFFA1E;
    --orange: #FFB943;
    --blue: #231495;

    /* !Including shades of each color to use in order to accent the main theme colors found in the logo... meant for borders, text shadow, limited background use etc. */

    /* shades light grey */
    --LGshade1: #B3ADB1;
    --LGshade2: #736F72;
    --LGshade3: #FFF7FD;
    --LGshade4: #D9D2D7;

    /* shades of purple pink */
    --PPshade1: #BD399E;
    --PPshade2: #7D2569;
    --PPshade3: #3D1233;
    --PPshade4: #E344BE;

    /* shades of yellow */
    --Yshade1: #BFBC17;
    --Yshade2: #807E0F;
    --Yshade3: #403F08;
    --Yshade4: #E6E21C;

    /* shades of orange */
    --Oshade1: #BF8B32;
    --Oshade2: #805D21;
    --Oshade3: #402E11;
    --Oshade4: #E6A73C;

    /* shades of blue */
    --Bshade1: #130B54;
    --Bshade2: #341DE0;
    --Bshade3: #2515A1;
    --Bshade4: #1C107A;

    /** Font Variables */
    --chewy: 'Chewy', cursive;

    /** effect variables */
    --default-shadow: 0.1em 0.1em 0.1em black,
    0.2em 0.5em 0.1em var(--Yshade4),
    -0.3em 0.1em 0.1em var(--LGshade2),
    0.4em -0.3em 0.1em var(--PPshade4);

    --simple-shadow: 0.1em 0.1em 0.1em black;

    --alt-shadow: 0.1em 0.1em 0.1em black,
    0.2em 0.5em 0.1em var(--Oshade4),
    -0.3em 0.1em 0.1em var(--PPshade4),
    0.4em -0.3em 0.1em var(--Bshade3);
}

/* Photo Credit */
/* Photo by Scott Webb from Pexels: https://www.pexels.com/photo/photography-of-brick-wall-with-graffiti-1022929/ */

body {
    background-image: url("./pages/assets/img/background2.jpeg");
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}