.message-div {
    padding: 1%;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 60vh;
    border-left: #000 solid 2px;
    border-right: #000 solid 2px;
    background: linear-gradient(180deg, rgba(217, 210, 215, 1) 7%, rgba(255, 247, 253, 1) 100%);
    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.message-div::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


.heading-container {
    padding: 1%;
    width: 100%;
    border-left: #000 solid 2px;
    border-right: #000 solid 2px;
    background: linear-gradient(180deg, rgba(217, 210, 215, 1) 7%, rgba(255, 247, 253, 1) 100%);
}

#user-heading {
    padding: 1%;
    font-family: var(--chewy);
    font-size: 1.3rem;
    border: 2px solid black;
    border-radius: 2rem;
    width: max-content;
    background-color: var(--blue);
    color: var(--orange);
}

/* each ul rendered (one chat message from a user) */
.user-messages {
    list-style: none;
    padding: 1%;
    width: 80%;
    border-radius: 1rem;
}

/* the username displayed for who sent the message */
.message-username {
    font-family: var(--chewy);
    font-weight: 900;
    font-size: 1.2rem;
}

/* the body of the message sent */
.message-body {
font-family: var(--messaging);
font-size: 1.1rem;
}

/* the timestamp of the message */
.message-timestamp {
    font-size: .75rem;
}