.chat-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: var(--PPshade1);
}

.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
}

.chat-name {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: var(--Bshade1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 2%;
}

.chat-name h2 {
    font-family: var(--chewy);
    color: var(--yellow);
}

.message-button {
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: var(--chewy);
    background-color: var(--yellow);
    color: var(--PPshade1);
    font-size: 30px;
}

.message-div {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
    width: 75vw;
    border-left: #000 solid 2px;
    border-right: #000 solid 2px;
    background: linear-gradient(180deg, rgba(217,210,215,1) 7%, rgba(255,247,253,1) 100%);
}