.chat-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: var(--Bshade1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 2%;
    padding: 2%;
}

.chat-name h2 {
    font-family: var(--chewy);
    color: var(--yellow);
    text-shadow: var(--simple-shadow);

}

.invite-btn {
    height: 40px;
    border: none;
    background-color: transparent;
}

.invite-icon {
height: 100%;
}