.chat-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: var(--PPshade1);
}

.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    width: 70vw;
}