.chat-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background: linear-gradient(225deg, rgba(125,37,105,0.9) 0%, rgba(189,57,158,0.95) 22%, rgba(227,68,190,0.95) 65%, rgba(255,250,30,0.7) 100%);
}

.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    width: 70vw;
}