/* !CSS for nav toggle is in here since it is being rendered as a prop */

/* used !important to override bootstraps toggle behavior */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none!important;
    box-shadow: none!important;
}

.toggle-icon {
    height: 70px;
}

.navbar-nav {
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 2%;
    padding-left: 2%;
}

.toggle-container {
    background-color: white;
}

.show {
    padding-right: 2%;
}

.collapsing {
    padding-right: 2%;
}

.dashboard-main {
    min-height: 100vh;
    padding: 2%;
    background-color: var(--PPshade1);
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: space-around;
}

.custom-nav-icons {
    height: 35px;
    width: max-content;
}

.dashboard-logout {
    border: none;
    background-color: transparent;
    width: max-content;
}