.custom-navbar {
    width: 100vw;
    height: 10vh;
    background-color: var(--Bshade1);
    display: flex;
    flex-direction: row;
    /* !Over-riding bootstraps Navbar settings */
    justify-content: space-between!important;
}
.home-button {
    margin-left: 2%;
    height: 100%;
    background-color: transparent;
    border: none;
    position: relative;
}

.home-button:hover {
    background-color: transparent;
}

.home-button:active {
    background-color: transparent;
}

.nav-logo {
    height: 100%;
}

.nav-logo:active {
    height: 109%;
}

.slogan {
    font-size: 250%;
    margin-right: 2%;
    font-family: var(--chewy);
    color: var(--orange);
    text-shadow: var(--default-shadow);
}

/* media queries for smaller phones */

/* noticeable breaking point */
@media screen and (max-width: 472px) {
    .slogan {
        font-size: 180%;
    }
}

/* Galaxy Fold */
@media screen and (max-width: 281px) {
    .slogan {
        font-size: 140%;
    }
}